<!-- example spinner page to test spinner manually -->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= require('html-loader!../partial-head.html').default.replace("{{page_config.fullStaticUrl}}", ".") %>
</head>
<body>
<p>Check the following</p>
<ol>
    <li>the spinner is shown</li>
    <li>the spinner is not too thin at the beginning of animation (missing CSS manifested this way)</li>
    <li>if you scroll down as much as possible, the spinner is centered vertically and horizontally</li>
    <li>the spinner is not shown after the button is clicked</li>
</ol>
<button>Finish loading</button>
<script>
    function htmlToNode(html) {
        const template = document.createElement('template');
        template.innerHTML = html;
        return template.content.firstChild;
    }
    document.querySelector('button').addEventListener('click', function () {
        document.querySelector('button').replaceWith(
            htmlToNode(`<div class="lm-Widget jp-LabShell" id="main">Jupyter is here.</div>`)
        );
    });
</script>
<%= require('html-loader!../partial-body.html').default %>
</body>
</html>
