--index-url=https://console.redhat.com/api/pypi/public-rhai/rhoai/3.4-EA2/cpu-ubi9/simple/

charset-normalizer==3.4.5
    # via requests
filelock==3.24.3
    # via
    #   datasets
    #   huggingface-hub
    #   torch
    #   training-hub
    #   transformers
fonttools==4.61.1
    # via matplotlib
googleapis-common-protos==1.73.0
    # via
    #   grpcio-status
    #   pyspark-connect
hf-xet==1.3.1
    # via huggingface-hub
instructlab-training==0.14.2
    # via training-hub
kiwisolver==1.4.9
    # via matplotlib
kubeflow==0.3.0+rhaiv.1
    # via th06-cpu-universal-image (pyproject.toml)
kubeflow-spark-api==2.4.0
    # via th06-cpu-universal-image (pyproject.toml)
model-registry==0.3.7
    # via th06-cpu-universal-image (pyproject.toml)
numpy==2.4.2
    # via
    #   th06-cpu-universal-image (pyproject.toml)
    #   accelerate
    #   contourpy
    #   datasets
    #   instructlab-training
    #   matplotlib
    #   numba
    #   pandas
    #   peft
    #   pyspark-connect
    #   rhai-innovation-mini-trainer
    #   tensorboard
    #   training-hub
    #   transformers
pyspark==4.0.1
    # via pyspark-connect
pyspark-connect==4.0.1
    # via th06-cpu-universal-image (pyproject.toml)
regex==2026.2.19
    # via
    #   training-hub
    #   transformers
rhai-innovation-mini-trainer==0.6.1
    # via training-hub
training-hub==0.6.0
    # via th06-cpu-universal-image (pyproject.toml)
yarl==1.23.0
    # via aiohttp
